@import "style.css";
.panelDelAlbum{
    display: flex;
    margin-top: 4.9rem; /*distancia superiro. cuenta desde el borde superior 4.9*/
}
.buscador{
    background-color: var(--color-head);
    width: 100vw;
    height: 5vh;
    position: absolute;/*la posicion del objeto no cambia*/
    top: 5rem;/*obliga al objeto a estar siempre abajo*/
    left: 0;/*el objeto siempre empieza a la izquierda*/
    color: var(--color-head);
    border-bottom: 5px solid black; /*crea franja que rodea login*/
    display: flex;
    justify-content: center;/*centra linea horizontal*/
    align-items: center;/*siempre al finalizar el siguiente empieza abajo*/
}
.barraLateral{
    padding: 10%;
    border-right: 2px solid black;
}
.ventanaFiltro{
    background-color: var(--color-head);
    border: 5px solid black;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.tituloFiltro{
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    
}
.barramuestrafiguritas{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-left: 2vh;
    margin-right: 2vh;
    width: 100%;
    height: 100%;
}

.tituloalbum{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*card*/
.areaDeFiguritas{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.templatecard{
    margin: 5px;
    background-color: gold;
    width: 15vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    columns: 3;
    border-radius: 0.7rem;
}
img{
    width: 9vw;
    height: 8vh;
    max-width: 100%;
    display: block;
    margin: auto;
    padding-top: 0.3rem;
    border-radius: 15%;
}
.nombreCard{
    border-bottom: 2px solid black;
    font-size: 1.3em;
    padding-left: 2%;
}